

.search-container{
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-container h1{
    margin-bottom: 1rem;
}
.search-container p{
    font-size: 1.5rem;
}