.footer{
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 4px #aaa;
    margin-top: 1rem;
}

.footer>*{
    margin: 1rem;
    font-size: 2rem;
}